<h1>Employee List</h1>
<div>
  Select option :
  <!-- <select [(ngModel)]="strName" (change)="name_change()">
    <option value="empno">Employee No</option>
    <option value="ename">Name</option>
    <option value="job">Job</option>
    <option value="sal">Salary</option>
  </select>  -->

  <span
    ><a href="EmpName" [(ngModel)]="strName" (change)="name_change()">EmpName</a
    >&nbsp;</span
  >
  &nbsp;
  <span
    ><a href="EmpJob" [(ngModel)]="strJob" (change)="Job_change()">Job</a
    >&nbsp;</span
  >
  &nbsp;
  <!--
  <span
    ><a href="EmpSal" [(ngModel)]="strSal" (change)="Sal_change()">Salary</a
    >&nbsp;</span
  > -->
</div>
