<h1>Application Development using Angular</h1>
<hr />

<!-- Angular Expression  or Interpolation -->

<!--<h1>Employee Details</h1>-->

<div
  style="
    border: 2px solid gray;
    width: 300px;
    padding: 5px;
    border-radius: 10px;
  "
>
  <style>
    table,
    th,
    td {
      border: 1px solid black;
    }
  </style>
  <table style="width: 100%">
    <tr>
      <td colspan="2" align="center"><b> Employee Details</b></td>
    </tr>

    <tr>
      <td>Employee ID</td>

      <td>{{ ID }}<br /></td>
    </tr>
    <tr>
      <td>Employee Name</td>
      <td>{{ uname }} <br /></td>
    </tr>
    <tr>
      <td>Employee Job</td>
      <td>{{ job }} <br /></td>
    </tr>
    <tr>
      <td>Employee Salary</td>
      <td>{{ sal }} <br /></td>
    </tr>
    <tr>
      <td>Employee Depo</td>
      <td>{{ depo }} <br /></td>
    </tr>
  </table>
</div>
<app-product></app-product>
<app-login></app-login>
<app-friends-task></app-friends-task>
<app-cources></app-cources>
<app-dept-details></app-dept-details>
<app-dept-list></app-dept-list>
<app-user-info></app-user-info>

<hr />

<hr />
