<!--

<app-sort-options
  (onNameChange)="updateName($event)"
  (onNameChange)="updateJob($event)"
>
</app-sort-options>

<hr />
<app-employee
  [sortOption]="sortOption"
  [sortOptionJob]="sortOptionJob"
></app-employee>
<app-model-forms></app-model-forms>
-->

<h2 class="header">Task1</h2>
<hr />
<div class="center">
  <p class="p1" [appHighLighter]="'Red'" style="color: Red">
    Attribute Custome Directive Text
  </p>

  <p [appHighLighter]="'Blue'">Attribute Custome Directive Text</p>

  <p [appHighLighter]="'Black'">Attribute Custome Directive Text</p>
</div>
<hr />
<br />
<hr />
<div *appIsAdmin="arrayElements">
  <p></p>
</div>
<h2 class="header">Task 2</h2>
<style>
  .header {
    padding: 10px;
    text-align: center;
    color: rgb(91, 6, 117);
    font-size: 40px;
  }
  .center {
    text-align: center;
  }
  .admin {
    text-align: center;
  }
</style>
<!------------------Task2------------------------------>
<div class="admin">
  <div *appIsAdmin="'Scott'">
    <p>This Content is for Scott Admin</p>
  </div>

  <div *appIsAdmin="'Smith'">
    <p>This Content is for Smith Admin</p>
  </div>

  <div *appIsAdmin="'abc'">
    <p>This Content is for abc Admin</p>
  </div>
  <br />
  <div *appIsAdmin="'Robert'">
    <p>This Content is for Robert Admin</p>
  </div>
</div>
