<div class="about-section">
  <h1 class="font">Contact Details</h1>
</div>
<h2 style="text-align: center">
  Please feel free to reach us out for details!!
</h2>

<div class="row">
  <div class="column">
    <div class="card">
      <img
        src="https://reqres.in/img/faces/2-image.jpg"
        alt="Jane"
        style="width: 100px"
      />
      <div class="container">
        <h2>Kathernie Salvatore</h2>
        <p class="title">PeopleManager</p>
        <p>MBA,Product Manager</p>
        <p>Email:katherine@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img
        src="https://reqres.in/img/faces/1-image.jpg"
        alt="Mike"
        style="width: 100px"
      />
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Marketing Head</p>
        <p>MBA in Marketing</p>
        <p>mike@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
